
<aside id="left-panel" class="left-panel">
  <nav class="navbar navbar-expand-sm navbar-default">

    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" ><img src="assets/images/logo.png" alt="Logo"></a>
      <a class="navbar-brand hidden" ><img src="assets/images/logo2.png" alt="Logo"></a>
    </div>

    <div id="main-menu" class="main-menu collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a > <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
        </li>
        <h3 class="menu-title">UI elements</h3><!-- /.menu-title -->
        <li class="menu-item-has-children dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Components</a>
          <ul class="sub-menu children dropdown-menu">
            <li><i class="fa fa-puzzle-piece"></i><a >Buttons</a></li>
            <li><i class="fa fa-id-badge"></i><a >Badges</a></li>
            <li><i class="fa fa-bars"></i><a >Tabs</a></li>
            <li><i class="fa fa-share-square-o"></i><a >Social Buttons</a></li>
            <li><i class="fa fa-id-card-o"></i><a >Cards</a></li>
            <li><i class="fa fa-exclamation-triangle"></i><a >Alerts</a></li>
            <li><i class="fa fa-spinner"></i><a >Progress Bars</a></li>
            <li><i class="fa fa-fire"></i><a >Modals</a></li>
            <li><i class="fa fa-book"></i><a >Switches</a></li>
            <li><i class="fa fa-th"></i><a >Grids</a></li>
            <li><i class="fa fa-file-word-o"></i><a >Typography</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Tables</a>
          <ul class="sub-menu children dropdown-menu">
            <li><i class="fa fa-table"></i><a >Basic Table</a></li>
            <li><i class="fa fa-table"></i><a routerLink="produit">products table</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Forms</a>
          <ul class="sub-menu children dropdown-menu">
            <li><i class="menu-icon fa fa-th"></i><a >Basic Form</a></li>
            <li><i class="menu-icon fa fa-th"></i><a >Advanced Form</a></li>
          </ul>
        </li>

        <h3 class="menu-title">Icons</h3><!-- /.menu-title -->

        <li class="menu-item-has-children dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Icons</a>
          <ul class="sub-menu children dropdown-menu">
            <li><i class="menu-icon fa fa-fort-awesome"></i><a>Font Awesome</a></li>
            <li><i class="menu-icon ti-themify-logo"></i><a >Themefy Icons</a></li>
          </ul>
        </li>
        <li>
          <a> <i class="menu-icon ti-email"></i>Widgets </a>
        </li>
        <li class="menu-item-has-children dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Charts</a>
          <ul class="sub-menu children dropdown-menu">
            <li><i class="menu-icon fa fa-line-chart"></i><a >Chart JS</a></li>
            <li><i class="menu-icon fa fa-area-chart"></i><a >Flot Chart</a></li>
            <li><i class="menu-icon fa fa-pie-chart"></i><a >Peity Chart</a></li>
          </ul>
        </li>

        <li class="menu-item-has-children dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Maps</a>
          <ul class="sub-menu children dropdown-menu">
            <li><i class="menu-icon fa fa-map-o"></i><a >Google Maps</a></li>
            <li><i class="menu-icon fa fa-street-view"></i><a >Vector Maps</a></li>
          </ul>
        </li>
        <h3 class="menu-title">Extras</h3><!-- /.menu-title -->
        <li class="menu-item-has-children dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>
          <ul class="sub-menu children dropdown-menu">
            <li><i class="menu-icon fa fa-sign-in"></i><a >Login</a></li>
            <li><i class="menu-icon fa fa-sign-in"></i><a>Register</a></li>
            <li><i class="menu-icon fa fa-paper-plane"></i><a >Forget Pass</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</aside><!-- /#left-panel -->

<div id="right-panel" class="right-panel">

  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>
  <router-outlet></router-outlet>
</div>
